<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sb.shoppingmall.repository.mybatis.OrderMapper">
    <select id="find" resultType="Order">
        select * from ordertbl
                 where user_code = #{user_code}
                    and order_date = #{order_date}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="order_code">
        insert into ordertbl (user_code, order_name, order_tel, order_addr,
                              order_daddr, order_total, order_cnt, order_date)
        values (#{user_code}, #{order_name}, #{order_tel}, #{order_addr}, #{order_daddr},
                #{order_total}, #{order_cnt}, #{order_date})
    </insert>
</mapper>