<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sb.shoppingmall.repository.mybatis.PaymentMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="payment_code">
        insert into paymenttbl (order_code, payment_pay, payment_regdate)
        values (
                #{order_code}, #{payment_pay}, #{payment_regdate}
               )
    </insert>

    <select id="findByOrder" resultType="Payment">
        select * from paymenttbl where order_code = #{order_code}
    </select>
</mapper>
